@import "variables.less";
html{
    height: 100%;
     margin: 0px;
     padding:0px;
}
body {
    background: @base-color;
    height: 100%;
    padding:0px;
    margin: 0px;
    #wrapper {
        margin-top: -20px;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .hidden {
        display: none !important;
    }
    .button {
        width: 200px;
        height: 200px;
        .mui-icon {
            width: 100%;
            height: 100%;
            font-size: 100px;
        }
    }
}
